<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

    <session-factory>

        <!-- JDBC properties -->
        <property name="hibernate.connection.url">jdbc:postgresql://database-1.c1rdg0nkpwr7.us-east-2.rds.amazonaws.com:5432/postgres</property>
  		<property name="hibernate.connection.username">postgres</property>
   	 	<property name="hibernate.connection.password">p4ssw0rd</property>
   	 	
   	 	
   	 	<!-- Driver properties -->
   	 	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">hibernate</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<mapping class="com.revature.models.Department"></mapping>
    </session-factory>

</hibernate-configuration>